@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
:root {
  --primary: #FF7272;
  --lightGrey1: #F6F7F8;
  --lightGrey2: #E9EBED;
  --red: #FF0808;
  --yellow: #FFB21E;
  --green: #1ABC17;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  line-height: 1.4;
  letter-spacing: -0.015em;
  background: #F6F7F8;
}

h1 {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 13px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.btn-round {
  border: 1px solid #FF7272;
  border-radius: 60px;
  color: #FF7272;
  padding: 9px 14px;
  font-size: 14px;
  font-weight: 700;
}

.btn-primary {
  background-color: var(--primary);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 100%;
  border-radius: 8px;
  position: relative;
}

.flexBx {
  display: flex;
  gap: 10px;
}

.detailBlank,
.detailView {
  display: inline-flex;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  color: var(--primary);
}
.detailBlank::after,
.detailView::after {
  content: "";
  width: 16px;
  height: 16px;
  display: block;
  background: url(../img/detail_arr_pink.svg) center no-repeat;
}

.detailBlank {
  font-size: 14px;
}
.detailBlank::after {
  margin-left: 7px;
  width: 12px;
  height: 12px;
  background-image: url(../img/ic_blank.svg);
}

.slick-dots li {
  margin: 0;
}

.slick-dots li button:before {
  content: "";
  width: 6px;
  height: 6px;
  opacity: 1;
  background-color: #D9D9D9;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  background-color: var(--primary);
}

.serviceWrap {
  width: 100vw;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}
.serviceWrap:has(.frame_topNavSub) {
  padding-top: 60px;
}
.serviceWrap:has(.frame_topNav) {
  padding-top: 67px;
}
.serviceWrap:has(.frame_bottomNav) {
  padding-bottom: 60px;
}
.serviceWrap:has(.frame_bottomBtn) {
  padding-bottom: 90px;
}
.serviceWrap.whiteBg {
  background-color: #fff;
}

.conWrap {
  background-color: #fff;
  margin: 8px 0;
  padding: 26px 16px;
}
.conWrap.conWrap-transparent {
  background-color: transparent;
  padding: 16px;
}

.frame_topNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 22px 15px 26px;
  height: 67px;
  background-color: #fff;
  position: fixed;
  max-width: 600px;
  margin: 0 auto;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1;
}
.frame_topNav .name {
  font-size: 16px;
  font-weight: 700;
  color: #6E7074;
}

.banner {
  position: relative;
}
.banner.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.banner .bannerItem {
  box-sizing: border-box;
  width: 100%;
  height: 263px;
  background: center/cover no-repeat;
  padding: 25px 29px;
  position: relative;
  color: #fff;
}
.banner .mainTit {
  font-size: 23px;
  color: #fff;
  text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  margin-bottom: 20px;
}
.banner .subTit {
  font-size: 15px;
  text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
  font-weight: 500;
}
.banner .bannerBtn {
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 29px;
  background-color: var(--primary);
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 40px;
  text-decoration: none;
  position: absolute;
  bottom: 25px;
  left: 26px;
}
.banner .bannerBtn::after {
  content: "";
  width: 16px;
  height: 16px;
  background: url(../img/arr_16_w.svg) center/cover no-repeat;
}
.banner .slick-dots {
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: auto;
}
.banner .slick-dots li {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 40px;
  padding: 6px 14px;
  min-width: 53px;
  width: auto;
  height: 29px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.banner .slick-dots li.slick-active {
  display: flex;
}
.banner .slick-dots li::after {
  content: "/ 3";
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  display: inline;
  font-family: "Pretendard";
  margin-left: 2px;
}
.banner .slick-dots li button {
  display: inline;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  padding: 0;
  font-family: "Pretendard";
  width: auto;
  height: auto;
}
.banner .slick-dots li button::before {
  display: none;
}
.banner.bannerType2 .bannerItem {
  aspect-ratio: 1/1;
  height: auto;
  max-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 36px;
}
.banner.bannerType2 .bannerBtn {
  position: static;
}
.banner.bannerType2 .slick-dots li::after {
  content: "/ 1";
}
.banner.bannerType2 .slick-dots {
  right: 16px;
  bottom: 45px;
}

.frame_imgText {
  position: relative;
  padding: 16px 20px;
  background-color: var(--lightGrey1);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  text-align: left;
  border: 0;
  width: 100%;
  gap: 20px;
  border-radius: 8px;
  overflow: hidden;
}
.frame_imgText + .frame_imgText {
  margin-top: 10px;
}
.frame_imgText .badge {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background-color: var(--primary);
  border-radius: 0 8px 0 8px;
  padding: 3px 11.5px;
}
.frame_imgText .tit {
  font-size: 15px;
  font-weight: 700;
}
.frame_imgText .desc {
  font-size: 13px;
}

.slideWrap {
  display: flex;
  gap: 9px;
  overflow: auto;
  flex-wrap: nowrap;
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 10px;
}

.frame_useGuide {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 8px;
  border: 1px solid #efefef;
  height: 273px;
  width: 307px;
  border-radius: 8px;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(96, 16, 16, 0.05) inset;
}
.frame_useGuide + .frame_useGuide {
  margin-left: 8px;
}
.frame_useGuide .badge {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px 0px;
  background: #E0E6EE;
  color: #8F959D;
  font-size: 14px;
  font-weight: 700;
  padding: 4px 8px;
}
.frame_useGuide .tit {
  font-size: 18px;
  font-weight: 700;
}
.frame_useGuide .desc {
  color: #9B9B9B;
  text-align: center;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 20px;
}
.frame_useGuide .btn-round {
  display: inline-block;
  margin-top: 13px;
}

.frame_proposeBanner {
  display: block;
  padding: 16px;
  padding-bottom: 27px;
  height: 162px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}
.frame_proposeBanner .badge {
  color: #FF4E4E;
  font-size: 14px;
  font-weight: 700;
}
.frame_proposeBanner .subTit {
  font-size: 14px;
  color: #fff;
  opacity: 0.6;
  margin-bottom: 6px;
}
.frame_proposeBanner .tit {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
.frame_proposeBanner .arr {
  position: absolute;
  bottom: 14px;
  right: 14px;
  width: 44px;
  height: 44px;
  background: url(../img/banner_sub_arr.svg) center/cover no-repeat;
}

.btn-subArr,
.btn-mainArr {
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  background: var(--primary);
  position: relative;
  border-radius: 8px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
}
.btn-subArr::after,
.btn-mainArr::after {
  content: "";
  position: absolute;
  right: 11px;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  background: url(../img/arr_24_w.svg) center/cover no-repeat;
}

.btn-subArr {
  margin-top: 30px;
  background-color: #333;
  height: 47px;
  font-size: 14px;
}
.btn-subArr::after {
  width: 14px;
  height: 14px;
  background: url(../img/arr_16_w.svg) center no-repeat;
}

.frame_mainBtn {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.frame_mainBtn .desc {
  text-align: center;
  color: #5B5B5B;
  font-size: 14px;
}
.frame_mainBtn a.desc {
  color: #fff;
  text-decoration: underline;
  font-size: 16px;
  margin-top: 7px;
}

.frame_footer {
  padding: 40px 16px;
  background-color: var(--lightGrey1);
  font-size: 12px;
}
.frame_footer ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
}
.frame_footer li::before {
  content: "|";
  color: #D9D9D9;
  font-size: 10px;
  font-weight: 700;
  margin: 0 10px;
}
.frame_footer li:first-child::before {
  display: none;
}
.frame_footer p {
  color: #A7A7A7;
  margin: 30px 0;
}
.frame_footer a {
  color: #7A7A7A;
}

.frame_bottomNav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
.frame_bottomNav ul {
  margin: 0 auto;
  max-width: 600px;
  background: #fff;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.frame_bottomNav .menu .btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
  font-size: 13px;
  font-weight: 500;
  color: #B5B5B5;
}
.frame_bottomNav .menu.active .btn {
  color: #000;
}
.frame_bottomNav li .icon {
  width: 28px;
  height: 28px;
  background: center/cover no-repeat;
}
.frame_bottomNav li:nth-child(1) .icon {
  background-image: url(../img/nav_bottom_home.svg);
}
.frame_bottomNav li:nth-child(1).active .icon {
  background-image: url(../img/nav_bottom_home_ac.svg);
}
.frame_bottomNav li:nth-child(2) .icon {
  background-image: url(../img/nav_bottom_health.svg);
}
.frame_bottomNav li:nth-child(2).active .icon {
  background-image: url(../img/nav_bottom_health_ac.svg);
}
.frame_bottomNav li:nth-child(3) .icon {
  background-image: url(../img/nav_bottom_food.svg);
}
.frame_bottomNav li:nth-child(3).active .icon {
  background-image: url(../img/nav_bottom_food_ac.svg);
}
.frame_bottomNav li:nth-child(4) .icon {
  background-image: url(../img/nav_bottom_my.svg);
}
.frame_bottomNav li:nth-child(4).active .icon {
  background-image: url(../img/nav_bottom_my_ac.svg);
}
.frame_bottomNav .active .menu {
  color: #000;
}

.frame_confirm .ev-modal,
.frame_alert .ev-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
  padding: 25px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.frame_confirm .ev-modal.ac,
.frame_alert .ev-modal.ac {
  display: flex;
}
.frame_confirm .ev-modal .dim,
.frame_alert .ev-modal .dim {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
.frame_confirm .ev-modal .card,
.frame_alert .ev-modal .card {
  background-color: #fff;
  padding: 15px;
  padding-top: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  max-width: 540px;
}
.frame_confirm .ev-modal .card .tit,
.frame_alert .ev-modal .card .tit {
  font-size: 18px;
  font-weight: 700;
}
.frame_confirm .ev-modal .card .desc,
.frame_alert .ev-modal .card .desc {
  font-size: 14px;
  margin-top: 17px;
}
.frame_confirm .ev-modal .card .btnWrap,
.frame_alert .ev-modal .card .btnWrap {
  display: flex;
  gap: 10px;
}
.frame_confirm .ev-modal .card .btnWrap .btn,
.frame_alert .ev-modal .card .btnWrap .btn {
  cursor: pointer;
  height: 52px;
  border: 0;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  border-radius: 4px;
}
.frame_confirm .ev-modal .card .btnWrap .btn.btn-true,
.frame_alert .ev-modal .card .btnWrap .btn.btn-true {
  color: #fff;
  background-color: var(--primary);
}
.frame_confirm .ev-modal .card .btnWrap .btn.btn-false,
.frame_alert .ev-modal .card .btnWrap .btn.btn-false {
  color: #000;
  background-color: #e6e6e6;
}

.frame_topNavSub {
  height: 60px;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 42px;
  box-sizing: border-box;
  z-index: 1;
}
.frame_topNavSub .tit {
  font-size: 18px;
  font-weight: 700;
}
.frame_topNavSub .close {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background: url(../img/nav_top_close.svg) center/cover no-repeat;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.privacy h5 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}
.privacy p {
  font-size: 16px;
}

.frame_bottomBtn {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 600px;
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
  padding: 16px;
  margin: 0 auto;
}

.landingWrap {
  background-color: #222;
}
.landingWrap .conWrap {
  background-color: transparent;
}
.landingWrap .visual {
  position: relative;
  display: block;
}
.landingWrap .visual img {
  width: 100%;
  height: 391px;
  object-fit: cover;
}
.landingWrap .visual .tit {
  position: absolute;
  bottom: 17px;
  left: 26px;
  color: #fff;
}
.landingWrap .visual .tit h1 {
  font-size: 28px;
  font-weight: 700;
}
.landingWrap .visual .tit .badge {
  padding: 2px 3px;
  background-color: #000;
}
.landingWrap .visual .tit .badge b {
  color: var(--primary);
}
.landingWrap .text {
  color: #fff;
  display: flex;
}
.landingWrap .text .group {
  flex: 1 0 0;
  font-size: 14px;
}
.landingWrap .text .group h2 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 9px;
}
.landingWrap .text .group li + li {
  margin-top: 4px;
}

.frame_inputCheck input {
  display: none;
}
.frame_inputCheck .inputStyle {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}
.frame_inputCheck .checkboxImg {
  width: 24px;
  height: 24px;
  margin: 0;
  background: url(../img/checkbox_off.svg) center/cover no-repeat;
  margin-right: 8px;
}
.frame_inputCheck .req {
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: var(--primary);
  margin-top: -16px;
  margin-left: 2px;
  display: none;
}
.frame_inputCheck input:checked + .inputStyle .checkboxImg {
  background-image: url(../img/checkbox_on.svg);
}
.frame_inputCheck input:required + .inputStyle .req {
  display: block;
}

.loginWrap h1 {
  font-size: 23px;
  margin-bottom: 34px;
  margin-top: 20px;
  padding: 0 16px;
}
.loginWrap .checkList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 13px 0;
  background-color: #F6F6F6;
  margin-top: 20px;
}
.loginWrap .checkList li {
  position: relative;
}
.loginWrap .checkList li .arr {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: rotate(180deg) translateY(50%);
  display: block;
  width: 36px;
  height: 36px;
  background: url(../img/nav_top_back.svg) center no-repeat;
}
.loginWrap .inputStyle {
  padding: 0 13px;
}
.frame_foodPlan {
  padding: 24px 20px;
  border: 1px solid var(--lightGrey2);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}
.frame_foodPlan.slick-slide {
  display: flex;
}
.frame_foodPlan .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.frame_foodPlan .time {
  color: #696969;
  font-size: 16px;
  font-weight: 700;
}
.frame_foodPlan .kcal {
  font-size: 16px;
  font-weight: 700;
}
.frame_foodPlan .todayMenu {
  color: #808080;
  font-size: 15px;
}
.frame_foodPlan .graph .item {
  margin-bottom: 14px;
}
.frame_foodPlan .graph .item:last-child {
  margin-bottom: 0;
}
.frame_foodPlan .graph .item .text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
.frame_foodPlan .graph .item .text .per {
  font-weight: 700;
}
.frame_foodPlan .graph .item .progress {
  margin-top: 8px;
  height: 5px;
  background-color: var(--lightGrey2);
  width: 100%;
}
.frame_foodPlan .graph .item .progress .value {
  height: 100%;
  background-color: var(--primary);
}

.frame_kcalThumb {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 20px;
}
.frame_kcalThumb strong {
  font-size: 31px;
  font-weight: 700;
}
.frame_kcalThumb em {
  font-size: 16px;
  color: #828282;
  margin-left: 4px;
}
.frame_kcalThumb li {
  display: none;
  align-items: flex-end;
  gap: 4px;
}
.frame_kcalThumb li.ac {
  display: flex;
}
.frame_kcalThumb li .message {
  font-size: 21px;
  font-weight: 700;
}
.frame_kcalThumb li .message.good {
  color: var(--green);
}
.frame_kcalThumb li .message.normal {
  color: var(--yellow);
}
.frame_kcalThumb li .message.bad {
  color: var(--red);
}
.frame_kcalThumb li img {
  width: 68px;
  height: 68px;
}

.healthStatus {
  padding: 16px 20px;
  border-radius: 8px;
  background-color: var(--lightGrey1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}
.healthStatus .text {
  font-size: 14px;
  color: #464646;
}
.healthStatus .text .type {
  font-size: 18px;
  font-weight: 700;
  color: #363636;
}
.healthStatus .text span {
  margin-right: 4px;
}
.healthStatus .status .item {
  min-width: 90px;
  height: 36px;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  border-radius: 8px;
}
.healthStatus .status .item.ac {
  display: flex;
}
.healthStatus .status .item.green {
  color: #1B722E;
  background-color: #CEF6D7;
}
.healthStatus .status .item.yellow {
  color: #755F12;
  background-color: #FEE99F;
}
.healthStatus .status .item.red {
  color: #601B0C;
  background-color: #FFB19F;
}

.frame_quickCard {
  border-radius: 8px;
  background-color: #F6F6F6;
  padding: 12px 14px;
  position: relative;
  color: #333;
  display: block;
  width: 164px;
  height: 169px;
  box-sizing: border-box;
}
.frame_quickCard .time {
  font-size: 13px;
  margin-bottom: 15px;
}
.frame_quickCard .tit {
  font-size: 16px;
  font-weight: 700;
  word-break: keep-all;
}
.frame_quickCard .icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 58px;
  height: 58px;
}
.frame_quickCard .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.quickCardWrap {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 10px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: -16px;
  margin-right: -16px;
}

.reportWrap:has(.noData:only-child) .count {
  display: none;
}
.reportWrap:has(.noData:only-child) .read {
  opacity: 0.5;
}
.reportWrap .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.reportWrap h1 {
  display: inline;
  float: left;
  margin: 0;
}
.reportWrap .count {
  float: left;
  margin-top: 3px;
  margin-left: 7px;
  border-radius: 20px;
  width: 24px;
  height: 24px;
  background-color: var(--primary);
  color: #fff;
  font-size: 13px;
  font-weight: 700;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.reportWrap .read {
  background-color: rgba(255, 114, 114, 0.15);
  padding: 7.5px 10px;
  border-radius: 20px;
  border: 0;
  color: #EB3C3C;
}
.reportWrap .reportList {
  margin-top: 24px;
  min-height: 120px;
  text-align: center;
  color: #81868B;
  margin-bottom: 17px;
}
.reportWrap .reportList .noData {
  display: none;
  padding-top: 37px;
}
.reportWrap .reportList .noData:only-child {
  display: block;
}
.reportWrap .reportList .report {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17px 13px 17px 20px;
  width: 100%;
  border-radius: 8px;
  background-color: var(--lightGrey1);
  height: 56px;
  font-size: 18px;
  box-sizing: border-box;
  margin-bottom: 8px;
  color: #000;
}
.reportWrap .reportList .report::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../img/arr_24_g.svg) center/cover no-repeat;
}
.reportWrap .reportList .report:last-child {
  margin-bottom: 0;
}

.storeItemWrap {
  overflow: hidden;
}

.storeItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
.storeItem .imgWrap {
  width: 107px;
  height: 107px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-right: 18px;
  flex: 0 0 auto;
}
.storeItem .imgWrap::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.03;
  position: absolute;
  top: 0;
  left: 0;
}
.storeItem .imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.storeItem .textWrap {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.storeItem .brand {
  font-size: 14px;
  color: #59636A;
  margin: 7px 0;
}
.storeItem .name {
  font-size: 15px;
  font-weight: 700;
  height: 43px;
  margin-bottom: 3px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.newsList {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 6px;
}

.frame_newsItem {
  flex: 1 0 33.3%;
  max-width: 33.3%;
  width: 33.3%;
  padding: 0 7px;
  box-sizing: border-box;
  margin-bottom: 12px;
  list-style: none;
}
.frame_newsItem .imgWrap {
  width: 107px;
  height: 107px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  margin-right: 18px;
  flex: 0 0 auto;
}
.frame_newsItem .imgWrap::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.03;
  position: absolute;
  top: 0;
  left: 0;
}
.frame_newsItem .imgWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frame_newsItem .imgWrap {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 8px;
}
.frame_newsItem .imgWrap img {
  transition: 0.3s ease-in-out;
}
.frame_newsItem .imgWrap::before {
  display: none;
}
.frame_newsItem .text {
  font-size: 13px;
  margin: 8px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.frame_newsItem .date {
  font-size: 13px;
  color: #717171;
}
.frame_newsItem:hover .imgWrap img {
  transform: scale(1.03);
}
.frame_newsItem:hover .text {
  text-decoration: underline;
}

.frame_paging {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 24px 0;
}
.frame_paging .arr-r,
.frame_paging .arr-l {
  width: 36px;
  height: 36px;
  background: transparent url(../img/arr_paging.svg) center/cover no-repeat;
  border: 0;
  cursor: pointer;
  margin: 0 20px;
}
.frame_paging .arr-r {
  transform: rotate(180deg);
}
.frame_paging .allPage {
  font-size: 12px;
  color: #717171;
}
.frame_paging .currentPage {
  font-size: 18px;
  font-weight: 700;
  margin-right: 7px;
}

.newsContents img {
  width: 100%;
  display: block;
}

.anotherNews .top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding: 0 16px;
  padding-top: 33px;
  box-sizing: border-box;
}
.anotherNews .top .goToList {
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 63px;
  height: 34px;
  margin-bottom: 13px;
}
.anotherNews .top .goToList::before {
  content: "";
  width: 9px;
  height: 9px;
  background: url(../img/ic_list.svg) no-repeat;
}
.anotherNews .listWrap {
  margin: 22px 0;
  padding: 0 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.anotherNews .listWrap .item .anchorWrap {
  border-radius: 8px;
  background-color: #fff;
  padding: 18px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: #717171;
}
.anotherNews .listWrap .item .anchorWrap .tit {
  flex: 1 0 auto;
}
.anotherNews .listWrap .item .anchorWrap .date {
  flex: 0 0 auto;
}
.anotherNews .frame_bottomBtn {
  background-color: transparent;
}
.anotherNews .frame_bottomBtn .btn-mainArr::after {
  display: none;
}

.frame_tipBanner a {
  background: center/cover no-repeat;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  padding: 17px 26px;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 120px;
  box-sizing: border-box;
  display: block;
  border-radius: 8px;
}
.frame_tipBanner .subTit {
  font-size: 14px;
  margin-bottom: 9px;
}
.frame_tipBanner .tit {
  font-size: 18px;
}
.frame_tipBanner .badge {
  position: absolute;
  top: 14px;
  right: 16px;
  font-size: 11px;
  padding: 4px 10px;
  border-radius: 20px;
  background-color: rgba(12, 12, 12, 0.5);
}

.frame_rowAnchor {
  margin-top: 10px;
}
.frame_rowAnchor a {
  border-radius: 8px;
  background-color: #f6f6f6;
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 11px 16px;
}
.frame_rowAnchor a img {
  width: 38px;
  aspect-ratio: 1/1;
  display: block;
}
.frame_rowAnchor a strong {
  font-weight: 700;
}
.frame_rowAnchor a::after {
  content: "";
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  background: url(../img/arr_24_g.svg) center/cover no-repeat;
  width: 24px;
  height: 24px;
}

.twoCard .guide {
  line-height: 1.7;
  margin-bottom: 13px;
}
.twoCard .flex {
  margin-top: 22px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.twoCard .flex .frame_quickCard {
  flex: 1 0 auto;
}
.twoCard .leftBx {
  flex: 1 0 auto;
  width: 164px;
}
.twoCard .leftBx .date {
  font-size: 12px;
  margin-bottom: 5px;
}
.twoCard .leftBx h1 {
  color: var(--primary);
}

.healthSummary h1 {
  margin-bottom: 45px;
}
.healthSummary .status {
  position: relative;
  z-index: 0;
}
.healthSummary .status::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 9px;
  background-color: var(--primary);
  z-index: -1;
}
.healthSummary .infoAlert {
  display: inline-block;
  border: 0;
  width: 32px;
  height: 32px;
  background: url(../img/ic_32_info.svg) center no-repeat;
  vertical-align: bottom;
  margin-left: 8px;
}
.healthSummary .flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.healthSummary .flex .key {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
}
.healthSummary .flex .key {
  font-size: 16px;
  color: #333;
}
.healthSummary .flex .value {
  font-size: 15px;
  font-weight: 700;
}
.healthSummary .flex .value .green,
.healthSummary .flex .value .yellow,
.healthSummary .flex .value .red {
  display: flex;
  align-items: center;
  gap: 8px;
}
.healthSummary .flex .value .green::after,
.healthSummary .flex .value .yellow::after,
.healthSummary .flex .value .red::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
}
.healthSummary .flex .red {
  color: var(--red);
}
.healthSummary .flex .red::after {
  background-image: url(../img/smile_red.svg);
}
.healthSummary .flex .yellow {
  color: var(--yellow);
}
.healthSummary .flex .yellow::after {
  background-image: url(../img/smile_yellow.svg);
}
.healthSummary .flex .green {
  color: var(--green);
}
.healthSummary .flex .green::after {
  background-image: url(../img/smile_green.svg);
}
.healthSummary .anchorDown {
  margin-top: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  height: 80px;
  background-color: #f6f6f6;
}
.healthSummary .anchorDown::after {
  content: "";
  width: 24px;
  height: 24px;
  background: url(../img/arr_bottom_grey.svg) center no-repeat;
}

.greyCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 19px;
  border-radius: 8px;
  border: 1px solid #EFEFEF;
  background: #FFF;
  box-shadow: 0px 0px 25px 0px rgba(96, 16, 16, 0.05) inset;
  color: #777;
  font-size: 14px;
  flex: 1 0 auto;
  height: 127px;
}
.greyCard .value {
  color: #000;
  font-size: 21px;
  font-weight: 700;
}

.tab {
  background-color: #fff;
  display: flex;
  margin-left: -16px;
  margin-right: -16px;
  padding-top: 59px;
}
.tab .anchor {
  height: 55px;
  border-bottom: 1px solid var(--lightGrey2);
  border-top: 8px solid #F6F7F8 !important;
  color: 777;
  flex: 1 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tab .anchor.ac {
  border-color: #000;
  color: #000;
}

.tabCon .tit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 36px;
  margin-bottom: 7px;
}
.tabCon .tit .name {
  font-weight: 700;
}
.tabCon .tit .legend {
  font-size: 14px;
  color: #777;
}
.tabCon .result {
  text-align: center;
}
.tabCon .result .number {
  font-size: 42px;
  font-weight: 700;
}
.tabCon .result .progressType {
  font-size: 14px;
  color: #777;
}
.tabCon .result .progress {
  margin: 0 auto;
  width: 66%;
  height: 5px;
  margin-bottom: 10px;
  background-color: var(--lightGrey2);
  border-radius: 8px;
  overflow: hidden;
}
.tabCon .result .progress .value {
  height: 100%;
  background-color: black;
}
.tabCon .result .smile {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  float: left;
}
.tabCon .result .text {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  float: left;
  margin-left: 10px;
}
.tabCon .result .textWrap {
  display: inline-block;
  margin: 0 auto;
}
.tabCon .result .textWrap::after {
  content: "";
  clear: both;
  display: block;
}
.tabCon .result.result-green .value {
  background-color: var(--green);
}
.tabCon .result.result-green .smile {
  background-image: url(../img/smile_green.svg);
}
.tabCon .result.result-green .text {
  color: var(--green);
}
.tabCon .result.result-yellow .value {
  background-color: var(--yellow);
}
.tabCon .result.result-yellow .smile {
  background-image: url(../img/smile_yellow.svg);
}
.tabCon .result.result-yellow .text {
  color: var(--yellow);
}
.tabCon .result.result-red .value {
  background-color: var(--red);
}
.tabCon .result.result-red .smile {
  background-image: url(../img/smile_red.svg);
}
.tabCon .result.result-red .text {
  color: var(--red);
}

.chartWrap {
  padding-top: 17px;
}

.chartTop {
  text-align: center;
}

.chartName {
  font-size: 14px;
  font-weight: 700;
  padding: 3px 14px;
  border-radius: 14px;
  background-color: var(--lightGrey2);
  display: inline-block;
  margin-bottom: 14px;
}

.chart-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--lightGrey2);
}
.chart-bar.result-green .item:last-child .bar {
  background-color: var(--green);
}
.chart-bar.result-yellow .item:last-child .bar {
  background-color: var(--yellow);
}
.chart-bar.result-red .item:last-child .bar {
  background-color: var(--red);
}
.chart-bar .item {
  width: 0;
  height: 84px;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-top: 40px;
}
.chart-bar .item .value {
  font-size: 14px;
  font-weight: 700;
}
.chart-bar .item .date {
  font-size: 14px;
  color: #777;
}
.chart-bar .item .bar {
  width: 30px;
  border-radius: 8px;
  min-height: 6px;
  background-color: var(--lightGrey2);
  flex: 0 0 auto;
}
.chart-bar .dualBar {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
  flex: 1 0 auto;
}
.chart-bar .dualBar .bar {
  width: 20px;
}
.chart-bar .dualBar > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.reportMsg {
  margin-top: 30px;
}
.reportMsg .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.reportMsg .msgBx {
  font-size: 14px;
  padding: 10px;
  border-radius: 8px;
  background-color: var(--lightGrey1);
}
.reportMsg .detailView {
  font-size: 13px;
}
.reportMsg .detailView::after {
  width: 12px;
  height: 12px;
  background-size: contain;
  margin-left: 9px;
}

.druckerBanner {
  background: url(../img/banner_sub_03.jpg) center/cover no-repeat;
  margin-left: -16px;
  margin-right: -16px;
  padding: 20px 16px;
  min-height: 267px !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.druckerBanner p {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
}
.druckerBanner strong {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
}
.druckerBanner .from {
  font-size: 12px;
  color: #C3D4CB;
}/*# sourceMappingURL=main.css.map */