@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

:root {
    --primary : #FF7272;
    --lightGrey1 : #F6F7F8;
    --lightGrey2 : #E9EBED;
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 1.4;
    letter-spacing: -0.015em;
    background: #F6F7F8;
}

h1 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 13px;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn-round {
    border: 1px solid #FF7272;
    border-radius: 60px;
    color: #FF7272;
    padding: 9px 14px;
    font-size: 14px;
    font-weight: 700;
}
.btn-primary {
    background-color: var(--primary);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 100%;
    border-radius: 8px;
    position: relative;
}

.serviceWrap {
    width: 100vw;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    &:has(.frame_topNavSub) {
        padding-top: 60px;
    }
    &:has(.frame_topNav) {
        padding-top: 67px;
    }
    &:has(.frame_bottomNav) {
        padding-bottom: 60px;
    }
    &:has(.frame_bottomBtn) {
        padding-bottom: 90px;
    }
}

.conWrap {
    background-color: #fff;
    margin: 8px 0;
    padding: 26px 16px;
}

.frame_topNav {
    display: flex;
    justify-content: space-between;
    padding: 15px 22px 15px 26px;
    height: 67px;
    background-color: #fff;
    position: fixed;
    max-width: 600px;
    margin: 0 auto;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
}

.banner {
    position: relative;
    &.slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .bannerItem {
        box-sizing: border-box;
        width: 100%;
        height: 263px;
        background: center/cover no-repeat;
        padding: 25px 29px;
        position: relative;
        color: #fff;
    }
    .mainTit {
        font-size: 23px;
        color: #fff;
        text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        font-weight: 700;
    }
    .subTit {
        font-size: 15px;
        text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        font-weight: 500;
    }
    .bannerBtn {
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 29px;
        background-color: var(--primary);
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        border-radius: 40px;
        text-decoration: none;
        position: absolute;
        bottom: 25px;
        left: 26px;
        &::after {
            content: '';
            width: 16px;
            height:16px;
            background: url(../img/arr_16_w.svg) center/cover no-repeat;
        }
    }
    .slick-dots {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: auto;
    }
    .slick-dots li {
        display: none;
        background: rgba(0,0,0,0.5);
        border-radius: 40px;
        padding: 6px 14px;
        min-width: 53px;
        width: auto;
        height: 29px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        &.slick-active {
            display: flex;
        }
        &::after {
            content: '/ 3';
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #fff;
            display: inline;
            font-family: 'Pretendard';
            margin-left: 2px;
        }
        button {
            display: inline;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #fff;
            padding: 0;
            font-family: 'Pretendard';
            width: auto;
            height: auto;
            &::before {
                display: none;
            }
        }
    }
}


.frame_imgText {
    position: relative;
    padding: 16px 20px;
    background-color: var(--lightGrey1);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-align: left;
    border: 0;
    width: 100%;
    gap: 20px;
    border-radius: 8px;
    overflow:hidden;
    // text-decoration: none;
    // color: #000;
    & + & {
        margin-top: 10px;
    }
    .badge {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        background-color: var(--primary);
        border-radius: 0 8px 0 8px;
        padding: 3px 11.5px;
    }
    .tit {
        font-size: 15px;
        font-weight: 700;
    }
    .desc {
        font-size: 13px;
    }
}
.slideWrap {
    display: flex;
    gap: 9px;
    overflow: auto;
    flex-wrap: nowrap;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
}
.frame_useGuide {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    border: 1px solid #efefef;
    height: 273px;
    width: 307px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(96, 16, 16, 0.05) inset;
    & + & {
        margin-left: 8px;
    }
    .badge {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px 0px;
        background: #E0E6EE;
        color: #8F959D;
        font-size: 14px;
        font-weight: 700;
        padding: 4px 8px;
    }
    .tit {
        font-size: 18px;
        font-weight: 700;
    }
    .desc {
        color: #9B9B9B;
        text-align: center;
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 20px;
    }
    .btn-round {
        display: inline-block;
        margin-top: 13px;
    }
}

.frame_proposeBanner {
    display: block;
    padding: 16px;    
    padding-bottom: 27px;
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    .badge {
        color: #FF4E4E;
        font-size: 14px;
        font-weight: 700;
    }
    .subTit {
        font-size: 14px;
        color: #fff;
        opacity: 0.6;
        margin-bottom: 6px;
    }
    .tit {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
    }
    .arr {
        position: absolute;
        bottom: 14px;
        right: 14px;
        width: 44px;
        height: 44px;
        background: url(../img/banner_sub_arr.svg) center/cover no-repeat;
    }
}

.btn-mainArr {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: var(--primary);
    position: relative;
    border-radius: 8px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 58px;
    &::after {
        content: '';
        position: absolute;
        right: 11px;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
        background: url(../img/arr_24_w.svg) center/cover no-repeat;
    }
}

.frame_mainBtn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .desc {
        text-align: center;
        color: #5B5B5B;
        font-size: 14px;
    }
    a.desc {
        color: #fff;
        text-decoration: underline;
        font-size: 16px;
        margin-top: 7px;
    }
}

.frame_footer {
    padding: 40px 16px;
    background-color: var(--lightGrey1);
    font-size: 12px;
    ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    li {
        &::before {
            content: '|';
            color: #D9D9D9;
            font-size: 10px;
            font-weight: 700;
            margin: 0 10px;
        }
        &:first-child::before {
            display: none;
        }
    }
    p {
        color: #A7A7A7;
        margin: 30px 0;
    }
    a {
        color: #7A7A7A;
    }
}


.frame_bottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    ul {
        margin: 0 auto;
        max-width: 600px;
        background: #fff;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu {
        .btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2px;
            font-size: 13px;
            font-weight: 500;
            color: #B5B5B5;
        }
    } 
    li {
        .icon {
            width: 28px;
            height: 28px;
            background: center/cover no-repeat;
        }

        &:nth-child(1) {
            .icon {background-image: url(../img/nav_bottom_home.svg);}  
            &.active .icon {background-image: url(../img/nav_bottom_home_ac.svg);}
        } 
        &:nth-child(2) {
            .icon {background-image: url(../img/nav_bottom_health.svg);}  
            &.active .icon {background-image: url(../img/nav_bottom_health_ac.svg);}
        } 
        &:nth-child(3) {
            .icon {background-image: url(../img/nav_bottom_food.svg);}  
            &.active .icon {background-image: url(../img/nav_bottom_food_ac.svg);}
        } 
        &:nth-child(4) {
            .icon {background-image: url(../img/nav_bottom_my.svg);}  
            &.active .icon {background-image: url(../img/nav_bottom_my_ac.svg);}
        } 
        
    }
    .active {
        .menu {
            color: #000;
        }
    } 
}

.frame_confirm,
.frame_alert {
    .ev-modal {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        display: none;
        padding: 25px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        &.ac {
            display: flex;
        }
        .dim {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
        .card {
            background-color: #fff;
            padding: 15px;
            padding-top: 20px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            max-width: 540px;
            .tit {
                font-size: 18px;
                font-weight: 700;
            }
            .desc {
                font-size: 14px;
                margin-top: 17px;
            }
            .btnWrap {
                display: flex;
                gap: 10px;
                .btn {
                    cursor: pointer;
                    height: 52px;
                    border: 0;
                    flex: 1 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 700;
                    border-radius: 4px;
                    &.btn-true {
                        color: #fff;
                        background-color: var(--primary);
                    }
                    &.btn-false {
                        color: #000;
                        background-color: #e6e6e6;
                    }
                }
            }
        }
    }
    
}

.frame_topNavSub {
    height: 60px;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 42px;
    box-sizing: border-box;
    z-index: 1;
    .tit {
        font-size: 18px;
        font-weight: 700;
    }
    .close {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url(../img/nav_top_close.svg) center/cover no-repeat;
        border: 0;
        padding: 0;
        cursor: pointer;
    }
}

.privacy {
    h5 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;

    }
}

.frame_bottomBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 600px;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    padding: 16px;
    margin: 0 auto;
    .btn-mainArr::after {
        display: none;
    }
}

.landingWrap {
    background-color: #222;
    .conWrap {
        background-color: transparent;
    }
    .visual {
        position: relative;
        display: block;
        img {
            width: 100%;
            height: 391px;
            object-fit: cover;
        }
        .tit {
            position: absolute;
            bottom: 17px;
            left: 26px;
            color: #fff;
            h1 {
                font-size: 28px;
                font-weight: 700;
            }
            .badge {
                padding: 2px 3px;
                background-color: #000;
                b {
                    color: var(--primary);
                }
            }
        }
    }
    .text {
        color: #fff;
        display: flex;
        .group {
            flex: 1 0 0;
            h2 {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 9px;
            }
            font-size: 14px;
            li + li {
                margin-top: 4px;
            }
        }
    }
}


.frame_inputCheck {
    input {
        display: none;
    }
    .inputStyle {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
    }
    .checkboxImg {
        width: 24px;
        height: 24px;
        margin: 0;
        background: url(../img/checkbox_off.svg) center/cover no-repeat;
        margin-right: 8px;
    }
    .req {
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: var(--primary);
        margin-top: -16px;
        margin-left: 2px;
        display: none;
    }

    input:checked + .inputStyle .checkboxImg {
        background-image: url(../img/checkbox_on.svg);
    }
    input:required + .inputStyle {
        .req {
            display: block;
        }
    }
}