@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

:root {
    --primary : #FF7272;
    --lightGrey1 : #F6F7F8;
    --lightGrey2 : #E9EBED;
    --red : #FF0808;
    --yellow : #FFB21E;
    --green : #1ABC17;
    --gra : linear-gradient(180deg, #FF6B63 0%, #FF50A4 100%);
}

body {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    line-height: 1.4;
    letter-spacing: -0.015em;
    background: #F6F7F8;
}

h1 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 13px;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
}

.btn-round {
    border: 1px solid #FF7272;
    border-radius: 60px;
    color: #FF7272;
    padding: 9px 14px;
    font-size: 14px;
    font-weight: 700;
}
.btn-primary {
    background-color: var(--primary);
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
    width: 100%;
    border-radius: 8px;
    position: relative;
}
.flexBx {
    display: flex;
    gap: 10px;
}


@mixin imgWrap {
    .imgWrap {
        width: 107px;
        height: 107px;
        border-radius: 8px;
        overflow: hidden;
        position: relative;
        margin-right: 18px;
        flex: 0 0 auto;
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            background-color: #000;
            opacity: 0.03;
            position: absolute;
            top: 0;
            left: 0;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@mixin graph-progress {
    .graph-progress {
        .item {
            margin-bottom: 14px;
            &:last-child {
                margin-bottom: 0;
            }
            .text {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 13px;
                .per {
                    font-weight: 700;
                }
            }
            .progress {
                margin-top: 8px;
                height: 5px;
                background-color: var(--lightGrey2);
                width: 100%;
                .value {
                    height: 100%;
                    background-color: var(--primary);
                }
            }

        }
    }
}

.detailBlank,
.detailView {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: var(--primary);
    &::after {
        content: '';
        width: 16px;
        height: 16px;
        display: block;
        background: url(../img/detail_arr_pink.svg) center no-repeat;
    }
    &.center {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}
.detailBlank {
    font-size: 14px;
    &::after {
        margin-left: 7px;
        width: 12px;
        height: 12px;
        background-image: url(../img/ic_blank.svg);
    }
}

.slick-dots li {
    margin: 0;
}
.slick-dots li button:before {
    content: '';
    width: 6px;
    height: 6px;
    opacity: 1;
    background-color: #D9D9D9;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.slick-dots li.slick-active button:before {
    opacity: 1;
    background-color: var(--primary);
}


.serviceWrap {
    width: 100vw;
    max-width: 600px;
    margin: 0 auto;
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
    box-sizing: border-box;
    &:has(.frame_topNavSub) {
        padding-top: 60px;
    }
    &:has(.frame_topNav) {
        padding-top: 67px;
    }
    &:has(.frame_bottomNav) {
        padding-bottom: 60px;
    }
    &:has(.frame_bottomBtn) {
        padding-bottom: 90px;
    }

    &.whiteBg {
        background-color: #fff;
    }
    // &:has(.tab) {
    //     overflow: visible;
    // }
}

.conWrap {
    background-color: #fff;
    margin: 8px 0;
    padding: 26px 16px;
    &.conWrap-transparent {
        background-color: transparent;
        padding: 16px;
    }
    &.foodTop {
        margin-top: 0;
        .frame_rowAnchor {
            margin-top: 16px;
        }
        .detailView.center {
            margin-top: 35px;
            margin-bottom: 10px;
        }
    }
    &.conWrapDonut {

    }
}

.frame_topNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 22px 15px 26px;
    height: 67px;
    background-color: #fff;
    position: fixed;
    max-width: 600px;
    margin: 0 auto;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    .name {
        font-size: 16px;
        font-weight: 700;
        color: #6E7074;
    }
}

.banner {
    position: relative;
    &.slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    .bannerItem {
        box-sizing: border-box;
        width: 100%;
        height: 263px;
        background: center/cover no-repeat;
        padding: 25px 29px;
        position: relative;
        color: #fff;
    }
    .mainTit {
        font-size: 23px;
        color: #fff;
        text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        font-weight: 700;
        margin-bottom: 20px;
    }
    .subTit {
        font-size: 15px;
        text-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
        font-weight: 500;
    }
    .bannerBtn {
        height: 40px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0 29px;
        background-color: var(--primary);
        color: #fff;
        font-size: 16px;
        font-weight: 700;
        border-radius: 40px;
        text-decoration: none;
        position: absolute;
        bottom: 25px;
        left: 26px;
        &::after {
            content: '';
            width: 16px;
            height:16px;
            background: url(../img/arr_16_w.svg) center/cover no-repeat;
        }
    }
    .slick-dots {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: auto;
    }
    .slick-dots li {
        display: none;
        background: rgba(0,0,0,0.5);
        border-radius: 40px;
        padding: 6px 14px;
        min-width: 53px;
        width: auto;
        height: 29px;
        box-sizing: border-box;
        align-items: center;
        justify-content: center;
        &.slick-active {
            display: flex;
        }
        &::after {
            content: '/ 3';
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #fff;
            display: inline;
            font-family: 'Pretendard';
            margin-left: 2px;
        }
        button {
            display: inline;
            font-size: 14px;
            font-weight: 400;
            line-height: 1;
            color: #fff;
            padding: 0;
            font-family: 'Pretendard';
            width: auto;
            height: auto;
            &::before {
                display: none;
            }
        }
    }

    &.bannerType2 {
        .bannerItem {
            aspect-ratio: 1/1;
            height: auto;
            max-height: 420px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-start;
            padding-bottom: 36px;
        }
        .bannerBtn {
            position: static;
        }
        .slick-dots li::after {
            content: "/ 1";
        }
        .slick-dots {
            right: 16px;
            bottom: 45px;
        }
    }
}


.frame_imgText {
    position: relative;
    padding: 16px 20px;
    background-color: var(--lightGrey1);
    display: flex;
    align-items: center;
    box-sizing: border-box;
    text-align: left;
    border: 0;
    width: 100%;
    gap: 20px;
    border-radius: 8px;
    overflow:hidden;
    // text-decoration: none;
    // color: #000;
    & + & {
        margin-top: 10px;
    }
    .badge {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 12px;
        font-weight: 600;
        color: #fff;
        background-color: var(--primary);
        border-radius: 0 8px 0 8px;
        padding: 3px 11.5px;
    }
    .tit {
        font-size: 15px;
        font-weight: 700;
    }
    .desc {
        font-size: 13px;
    }
}
.slideWrap {
    display: flex;
    gap: 9px;
    overflow: auto;
    flex-wrap: nowrap;
    margin-left: -16px;
    margin-right: -16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
}
.frame_useGuide {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 8px;
    border: 1px solid #efefef;
    height: 273px;
    width: 307px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(96, 16, 16, 0.05) inset;
    & + & {
        margin-left: 8px;
    }
    .badge {
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 8px 0px;
        background: #E0E6EE;
        color: #8F959D;
        font-size: 14px;
        font-weight: 700;
        padding: 4px 8px;
    }
    .tit {
        font-size: 18px;
        font-weight: 700;
    }
    .desc {
        color: #9B9B9B;
        text-align: center;
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 20px;
    }
    .btn-round {
        display: inline-block;
        margin-top: 13px;
    }
}

.frame_proposeBanner {
    display: block;
    padding: 16px;    
    padding-bottom: 27px;
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
    .badge {
        color: #FF4E4E;
        font-size: 14px;
        font-weight: 700;
    }
    .subTit {
        font-size: 14px;
        color: #fff;
        opacity: 0.6;
        margin-bottom: 6px;
    }
    .tit {
        font-size: 18px;
        font-weight: 700;
        color: #fff;
    }
    .arr {
        position: absolute;
        bottom: 14px;
        right: 14px;
        width: 44px;
        height: 44px;
        background: url(../img/banner_sub_arr.svg) center/cover no-repeat;
    }
}
.btn-subArr,
.btn-mainArr {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background: var(--primary);
    position: relative;
    border-radius: 8px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 58px;
    &::after {
        content: '';
        position: absolute;
        right: 11px;
        top: 50%;
        width: 24px;
        height: 24px;
        transform: translateY(-50%);
        background: url(../img/arr_24_w.svg) center/cover no-repeat;
    }
}
.btn-subArr {
    margin-top: 30px;
    background-color: #333;
    height: 47px;
    font-size: 14px;
    &::after {
        width: 14px;
        height: 14px;
        background: url(../img/arr_16_w.svg) center no-repeat;
    }
}

.frame_mainBtn {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .desc {
        text-align: center;
        color: #5B5B5B;
        font-size: 14px;
    }
    a.desc {
        color: #fff;
        text-decoration: underline;
        font-size: 16px;
        margin-top: 7px;
    }
}

.frame_footer {
    padding: 40px 16px;
    background-color: var(--lightGrey1);
    font-size: 12px;
    ul {
        display: flex;
        flex-wrap: wrap;
        row-gap: 10px;
    }
    li {
        &::before {
            content: '|';
            color: #D9D9D9;
            font-size: 10px;
            font-weight: 700;
            margin: 0 10px;
        }
        &:first-child::before {
            display: none;
        }
    }
    p {
        color: #A7A7A7;
        margin: 30px 0;
    }
    a {
        color: #7A7A7A;
    }
}


.frame_bottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    ul {
        margin: 0 auto;
        max-width: 600px;
        background: #fff;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .menu {
        .btn {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 2px;
            font-size: 13px;
            font-weight: 500;
            color: #B5B5B5;
        }
        &.active .btn {
            color: #000;
        }
    } 
    li {
        .icon {
            width: 28px;
            height: 28px;
            background: center/cover no-repeat;
        }

        &:nth-child(1) {
            .icon {background-image: url(../img/nav_bottom_home.svg);}  
            &.active .icon {background-image: url(../img/nav_bottom_home_ac.svg);}
        } 
        &:nth-child(2) {
            .icon {background-image: url(../img/nav_bottom_health.svg);}  
            &.active .icon {background-image: url(../img/nav_bottom_health_ac.svg);}
        } 
        &:nth-child(3) {
            .icon {background-image: url(../img/nav_bottom_food.svg);}  
            &.active .icon {background-image: url(../img/nav_bottom_food_ac.svg);}
        } 
        &:nth-child(4) {
            .icon {background-image: url(../img/nav_bottom_my.svg);}  
            &.active .icon {background-image: url(../img/nav_bottom_my_ac.svg);}
        } 
        
    }
    .active {
        .menu {
            color: #000;
        }
    } 
}

.frame_confirm,
.frame_alert {
    .ev-modal {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        display: none;
        padding: 25px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        &.ac {
            display: flex;
        }
        .dim {
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.5);
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: -1;
        }
        .card {
            background-color: #fff;
            padding: 15px;
            padding-top: 20px;
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            max-width: 540px;
            .tit {
                font-size: 18px;
                font-weight: 700;
            }
            .desc {
                font-size: 14px;
                margin-top: 17px;
            }
            .btnWrap {
                display: flex;
                gap: 10px;
                .btn {
                    cursor: pointer;
                    height: 52px;
                    border: 0;
                    flex: 1 0 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 16px;
                    font-weight: 700;
                    border-radius: 4px;
                    &.btn-true {
                        color: #fff;
                        background-color: var(--primary);
                    }
                    &.btn-false {
                        color: #000;
                        background-color: #e6e6e6;
                    }
                }
            }
        }
    }
    
}

.frame_topNavSub {
    height: 60px;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 42px;
    box-sizing: border-box;
    z-index: 1;
    .tit {
        font-size: 18px;
        font-weight: 700;
    }
    .close {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        background: url(../img/nav_top_close.svg) center/cover no-repeat;
        border: 0;
        padding: 0;
        cursor: pointer;
    }
}

.privacy {
    h5 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    p {
        font-size: 16px;

    }
}

.frame_bottomBtn {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 600px;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    padding: 16px;
    margin: 0 auto;
    // .btn-mainArr::after {
    //     display: none;
    // }
}

.landingWrap {
    background-color: #222;
    .conWrap {
        background-color: transparent;
    }
    .visual {
        position: relative;
        display: block;
        img {
            width: 100%;
            height: 391px;
            object-fit: cover;
        }
        .tit {
            position: absolute;
            bottom: 17px;
            left: 26px;
            color: #fff;
            h1 {
                font-size: 28px;
                font-weight: 700;
            }
            .badge {
                padding: 2px 3px;
                background-color: #000;
                b {
                    color: var(--primary);
                }
            }
        }
    }
    .text {
        color: #fff;
        display: flex;
        .group {
            flex: 1 0 0;
            h2 {
                font-size: 18px;
                font-weight: 700;
                margin-bottom: 9px;
            }
            font-size: 14px;
            li + li {
                margin-top: 4px;
            }
        }
    }
}


.frame_inputCheck {
    input {
        display: none;
    }
    .inputStyle {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
    }
    .checkboxImg {
        width: 24px;
        height: 24px;
        margin: 0;
        background: url(../img/checkbox_off.svg) center/cover no-repeat;
        margin-right: 8px;
    }
    .req {
        width: 6px;
        height: 6px;
        border-radius: 6px;
        background-color: var(--primary);
        margin-top: -16px;
        margin-left: 2px;
        display: none;
    }

    input:checked + .inputStyle .checkboxImg {
        background-image: url(../img/checkbox_on.svg);
    }
    input:required + .inputStyle {
        .req {
            display: block;
        }
    }
}

.loginWrap {
    h1 {
        font-size: 23px;
        margin-bottom: 34px;
        margin-top: 20px;
        padding: 0 16px;
    }
    .checkList {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 13px 0;
        background-color: #F6F6F6;
        margin-top: 20px;
        li {
            position: relative;
            .arr {
                position: absolute;
                right: 10px;
                top: 50%;
                transform: rotate(180deg) translateY(50%);
                display: block;
                width: 36px;
                height: 36px;
                background: url(../img/nav_top_back.svg) center no-repeat;
            }
        }
    }
    .inputStyle {
        padding: 0 13px;
    }
    .frame_inputCheck {
    }
}



.frame_foodPlan {
    padding: 24px 20px;
    border: 1px solid var(--lightGrey2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    &.slick-slide {
        display: flex;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .time {
        color: #696969;
        font-size: 16px;
        font-weight: 700;
    }
    .kcal {
        font-size: 16px;
        font-weight: 700;
    }

    .todayMenu {
        color: #808080;
        font-size: 15px;

    }

    @include graph-progress;
}

.frame_kcalThumb {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 20px;
    strong {
        font-size: 31px;
        font-weight: 700;
    }
    em {
        font-size: 16px;
        color: #828282;
        margin-left: 4px;
    }
    li {
        display: none;
        align-items: flex-end;
        gap: 4px;
        &.ac {
            display: flex;
        }
        .message {
            font-size: 21px;
            font-weight: 700;
            &.good {
                color: var(--green);
            }
            &.normal {
                color: var(--yellow);
            }
            &.bad {
                color: var(--red);
            }
        }
        img {
            width: 68px;
            height: 68px;
        }
    }
}

.healthStatus {
    padding: 16px 20px;
    border-radius: 8px;
    background-color: var(--lightGrey1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
    .text {
        font-size: 14px;
        color: #464646;
        .type {
            font-size: 18px;
            font-weight: 700;
            color: #363636;
        }
        span {
            margin-right: 4px;
        }
    }
    .status {
        .item {
            min-width: 90px;
            height: 36px;
            display: none;
            justify-content: center;
            align-items: center;
            font-size: 13px;
            border-radius: 8px;
            &.ac {
                display: flex;
            }
            &.green {
                color: #1B722E;
                background-color: #CEF6D7;
            }
            &.yellow {
                color: #755F12;
                background-color: #FEE99F;
            }
            &.red {
                color: #601B0C;
                background-color: #FFB19F;
            }
        }   
    }
}

.frame_quickCard {
    border-radius: 8px;
    background-color: #F6F6F6;
    padding: 12px 14px;
    position: relative;
    color: #333;
    display: block;
    width: 164px;
    height: 169px;
    box-sizing: border-box;
    .time {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .tit {
        font-size: 16px;
        font-weight: 700;
        word-break: keep-all;
    }
    .icon {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 58px;
        height: 58px;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.quickCardWrap {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: -16px;
    margin-right: -16px;
}

.reportWrap {

    &:has(.noData:only-child) {
        .count {
            display: none;
        }
        .read {
            opacity: 0.5;
        }
    }
    .flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        display: inline;
        float: left;
        margin: 0;
    }
    .count {
        float: left;
        margin-top: 3px;
        margin-left: 7px;
        border-radius: 20px;
        width: 24px;
        height: 24px;
        background-color: var(--primary);
        color: #fff;
        font-size: 13px;
        font-weight: 700;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    .read {
        background-color: rgba(255,114,114,0.15);
        padding: 7.5px 10px;
        border-radius: 20px;
        border: 0;
        color: #EB3C3C;
    }
    .reportList {
        margin-top: 24px;
        min-height: 120px;
        text-align: center;
        color: #81868B;
        margin-bottom: 17px;
        .noData {
            display: none;
            padding-top: 37px;
            &:only-child {
                display: block;
            }
        }

        .report {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 17px 13px 17px 20px;
            width: 100%;
            border-radius: 8px;
            background-color: var(--lightGrey1);
            height: 56px;
            font-size: 18px;
            box-sizing: border-box;
            margin-bottom: 8px;
            color: #000;
            &::after {
                content: '';
                display: block;
                width: 24px;
                height: 24px;
                background: url(../img/arr_24_g.svg) center/cover no-repeat;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.storeItemWrap {
    overflow: hidden;
}
.storeItem {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    // &:last-child {
    //     margin-bottom: 0;
    // }
    @include imgWrap;
    .textWrap {
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .brand {
        font-size: 14px;
        color: #59636A;
        margin: 7px 0;
    }
    .name {
        font-size: 15px;
        font-weight: 700;
        height: 43px;
        margin-bottom: 3px;
        overflow:hidden;
        text-overflow:ellipsis;
        -webkit-line-clamp: 2;	
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
}

.newsList {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 6px;
}
.frame_newsItem {
    flex: 1 0 33.3%;
    max-width: 33.3%;
    width: 33.3%;
    padding: 0 7px;
    box-sizing: border-box;
    margin-bottom: 12px;
    list-style: none;
    @include imgWrap;
    .imgWrap {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
        border-radius: 8px;
        img {
            width: 100%;
            transition: 0.3s ease-in-out;
        }
        &::before {
            display: none;
        }
    }
    .text {
        font-size: 13px;
        margin: 8px 0;
        overflow:hidden;
        text-overflow:ellipsis;
        -webkit-line-clamp: 2;	
        -webkit-box-orient: vertical;
        display: -webkit-box;
    }
    .date {
        font-size: 13px;
        color: #717171;
    }
    &:hover {
        .imgWrap img {
            transform: scale(1.03);
        }
        .text {
            text-decoration: underline;
        }
    }
}

.frame_paging {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px 0;
    .arr-r,
    .arr-l {
        width: 36px;
        height: 36px;
        background: transparent url(../img/arr_paging.svg) center/cover no-repeat;
        border: 0;
        cursor: pointer;
        margin: 0 20px;
    }
    .arr-r {
        transform: rotate(180deg);
    }
    .allPage {
        font-size: 12px;
        color: #717171;
    }
    .currentPage {
        font-size: 18px;
        font-weight: 700;
        margin-right: 7px;
    }
}

.newsContents {
    img {
        width: 100%;
        display: block;
    }
}
.anotherNews {
    .top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        padding: 0 16px;
        padding-top: 33px;
        box-sizing: border-box;
        .goToList {
            border-radius: 4px;
            background-color: #333;
            color: #fff;
            font-size: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
            width: 63px;
            height: 34px;
            margin-bottom: 13px;
            &::before {
                content: '';
                width: 9px;
                height: 9px;
                background: url(../img/ic_list.svg) no-repeat;
            }
        }
    }
    .listWrap {
        margin: 22px 0;
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        .item {
            .anchorWrap {
                border-radius: 8px;
                background-color: #fff;
                padding: 18px 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 13px;
                color: #717171;
                .tit {
                    flex: 1 0 auto;
                }
                .date {
                    flex: 0 0 auto;
                }
            }
        }
    }
    .frame_bottomBtn {
        background-color: transparent;
        .btn-mainArr {
            &::after {
                display: none;
            }
        }
    }
}



.frame_tipBanner {
    a {
        background: center/cover no-repeat;
        color: #fff;
        font-size: 14px;
        font-weight: 700;
        padding: 17px 26px;
        position: relative;
        width: 100%;
        height: auto;
        min-height: 120px;
        box-sizing: border-box;
        display: block;
        border-radius: 8px;
    }
    .subTit {
        font-size: 14px;
        margin-bottom: 9px;
    }
    .tit {
        font-size: 18px;
    }
    .badge {
        position: absolute;
        top: 14px;
        right: 16px;
        font-size: 11px;    
        padding: 4px 10px;
        border-radius: 20px;
        background-color: rgba(12,12,12,0.5);
    }
}

.frame_rowAnchor {
    margin-top: 10px;
    a {
        border-radius: 8px;
        background-color: #f6f6f6;
        position: relative;
        display: flex;
        align-items: center;
        gap: 13px;
        padding: 11px 16px;
        img {
            width: 38px;
            aspect-ratio: 1/1;
            display: block;
        }
        strong {
            font-weight: 700;
        }
        &::after {
            content: '';
            position: absolute;
            right: 8px;
            top: 50%;
            transform: translateY(-50%);
            background: url(../img/arr_24_g.svg) center/cover no-repeat;
            width: 24px;
            height: 24px;
        }
    }
}

.twoCard {
    .guide {
        line-height: 1.7;
        margin-bottom: 13px;
    }
    .flex {
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .frame_quickCard {
            flex: 1 0 auto;
        }
    }
    .leftBx {
        flex: 1 0 auto;
        width: 164px;
        .date {
            font-size: 12px;
            margin-bottom: 5px;
        }
        h1 {
            color: var(--primary);
        }
    }
}

.healthSummary {
    h1 {
        margin-bottom: 45px;
    }
    .userName {

    }
    .status {
        position: relative;
        z-index: 0;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 9px;
            background-color: var(--primary);
            z-index: -1;
        }
    }
    .infoAlert {
        display: inline-block;
        border: 0;
        width: 32px;
        height: 32px;
        background: url(../img/ic_32_info.svg) center no-repeat;
        vertical-align: bottom;
        margin-left: 8px;
    }
    .flex {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;
        
        .key {
            display: flex;
            align-items: center;
            gap: 10px;
            font-weight: 700;
        }
        .key {
            font-size: 16px;
            color: #333;
        }
        .value {
            font-size: 15px;
            font-weight: 700;
            .green,
            .yellow,
            .red {
                display: flex;
                align-items: center;
                gap: 8px;
                &::after {
                    content: '';
                    display: block;
                    width: 24px;
                    height: 24px;
                    background-repeat: no-repeat;
                }
            }
        }
        .red {
            color: var(--red);
            &::after {
                background-image: url(../img/smile_red.svg);
            }
        }
        .yellow {
            color: var(--yellow);
            &::after {
                background-image: url(../img/smile_yellow.svg);
            }
        }
        .green {
            color: var(--green);
            &::after {
                background-image: url(../img/smile_green.svg);
            }
        }
    }

    .anchorDown {
        margin-top: 30px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 50px;
        height: 80px;
        background-color: #f6f6f6;
        &::after {
            content: '';
            width: 24px;
            height: 24px;
            background: url(../img/arr_bottom_grey.svg) center no-repeat;
        }
    }
}

.greyCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 19px;
    border-radius: 8px;
    border: 1px solid #EFEFEF;
    background: #FFF;
    box-shadow: 0px 0px 25px 0px rgba(96, 16, 16, 0.05) inset;
    color: #777;
    font-size: 14px;
    flex: 1 0 auto;
    height: 127px;
    .value {
        color: #000;
        font-size: 21px;
        font-weight: 700;
    }
}

.tab{
    background-color: #fff;
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
    // position: sticky;
    // top: 67px;
    padding-top: 59px;
    &:first-of-type {
        // padding-top: 0;
    }
    .anchor {
        height: 55px;
        border-bottom: 1px solid var(--lightGrey2);
        border-top:8px solid #F6F7F8 !important;
        color: 777;
        flex: 1 0 0;
        display: flex;
        justify-content: center;
        align-items: center;
        &.ac {
            border-color: #000;
            color: #000;
        }
    }
}

.tabCon {
    .tit {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 36px;
        margin-bottom: 7px;
        .name {
            font-weight: 700;
        }
        .legend {
            font-size: 14px;
            color: #777;
        }
    }

    .result {
        text-align: center;
        .number{
            font-size: 42px;
            font-weight: 700;
        }
        .progressType {
            font-size: 14px;
            color: #777;
        }
        .progress {
            margin: 0 auto;
            width: 66%;
            height: 5px;
            margin-bottom: 10px;
            background-color: var(--lightGrey2);
            border-radius: 8px;
            overflow: hidden;
            .value {
                height: 100%;
                background-color: black;
            }
        }
        .smile {
            display: inline-block;
            width: 24px;
            height: 24px;
            background-repeat: no-repeat;
            float: left;
        }
        .text {
            display: inline-block;
            font-size: 18px;
            font-weight: 700;
            float: left;
            margin-left: 10px;
        }
        .textWrap {
            display: inline-block;
            margin: 0 auto;
            &::after {
                content: '';
                clear: both;
                display: block;
            }
        }
        &.result-green {
            .value {
                background-color: var(--green);
            }
            .smile {
                background-image: url(../img/smile_green.svg);
            }
            .text {
                color: var(--green);
            }
        }
        &.result-yellow {
            .value {
                background-color: var(--yellow);
            }
            .smile {
                background-image: url(../img/smile_yellow.svg);
            }
            .text {
                color: var(--yellow);
            }
        }
        &.result-red {
            .value {
                background-color: var(--red);
            }
            .smile {
                background-image: url(../img/smile_red.svg);
            }
            .text {
                color: var(--red);
            }
        }
    }
}
.chartWrap {
    padding-top: 17px;
    
}
.chartTop {
    text-align: center;
}
.chartName {
    font-size: 14px;
    font-weight: 700;
    padding: 3px 14px;
    border-radius: 14px;
    background-color: var(--lightGrey2);
    display: inline-block;
    margin-bottom: 14px;
}
.chart-bar {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--lightGrey2);
    .item:last-child .bar {
        background-color: var(--primary);
    }
    &.result-green {
        .item:last-child .bar {
            background-color: var(--green);
        }
    }
    &.result-yellow {
        .item:last-child .bar {
            background-color: var(--yellow);
        }
    }
    &.result-red {
        .item:last-child .bar {
            background-color: var(--red);
        }
    }
    .item {
        width: 0;
        height: 84px;
        flex: 1 0 auto;       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-top: 40px;
        .value {
            font-size: 14px;
            font-weight: 700;
        }
        .date {
            font-size: 14px;
            color: #777;
        }
        .bar {
            width: 30px;
            border-radius: 8px;
            min-height: 6px;
            background-color: var(--lightGrey2);
            flex: 0 0 auto;
        }
    }
    .dualBar {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: 5px;
        flex: 1 0 auto;
        .bar {
            width: 20px;
        }
        > div {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }
    }
}

.reportMsg {
    margin-top: 30px;
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        margin-bottom: 10px;
    }
    .msgBx {
        font-size: 14px;
        padding: 10px;
        border-radius: 8px;
        background-color: var(--lightGrey1);
    }
    .detailView {
        font-size: 13px;
        &::after {
            width: 12px;
            height: 12px;
            background-size: contain;
            margin-left: 9px;
        }
    }
}



.druckerBanner {
    background:url(../img/banner_sub_03.jpg) center/cover no-repeat;
    margin-left: -16px;
    margin-right: -16px;
    padding: 20px 16px;
    height: 208px !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    p {
        font-size: 15px;
        color: #fff;
        font-weight: 400;
    }
    strong {
        font-size: 15px;
        color: #fff;
        font-weight: 700;
    }
    .from {
        font-size: 12px;
        color: #C3D4CB;
    }
}


.foodSummary {
    margin-left: -16px;
    margin-right: -16px;
    font-size: 14px;
    overflow: hidden;
    margin-bottom: 16px;
    .status {
        padding: 20px;
        color: var(--primary);
        text-align: center;
    }
    .bg {
        background-image: var(--gra);
        color: #fff;
        margin-bottom: 16px;
        height: 93px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .nextMeal {
        font-size: 16px;
        font-weight: 700;
    }
    .control {
        display: flex;
        justify-content: space-between;
        a {
            flex: 1 0 0 ;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 51px;
            border: 1px solid var(--lightGrey2);
            &:first-child {
                border-left: 0;
                border-right: 0;
            }
            &:last-child {
                border-right: 0;
            }
        }
    }
}
.meal {
    padding: 24px 20px;
    border-radius: 8px;
    border: 1px solid var(--lightGrey2);
    display: flex !important;
    flex-direction: column;
    gap: 16px;
    .flexBx {
        justify-content: space-between;
    }
    .time {
        color: #696969;
        font-weight: 700
    }
    .kcal {
        font-weight: 700
    }
    .mealMenu {
        color: #808080;
    }
    @include graph-progress;
}

.conWrapDonut {
    @include graph-progress;

}

.graph-donut {
    width: 180px;
    height: 180px;
    background-image: conic-gradient(var(--primary) 0% 0%, var(--lightGrey1) 0 100%);
    margin: 30px auto;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .whiteHole {
        width: 84px;
        height: 84px;
        border-radius: 100%;
        background-color: #fff;
        color: #777;
        font-size: 13px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 5px;
        .value {
            font-size: 21px;
            font-weight: 700;
            color: #000;
            &:after {
                content: ' %';
                font-size: 14px;
            }
        }
    }
}

.refType {
    margin-top: 60px;
    @include graph-progress;
    text-align: center;
    .graph-progress .item .progress {
        margin-top: 14px;
        margin-bottom: 80px;
    }
    .date {
        color: #777;
        font-size: 13px;
        text-align: center;
    }
    .standard {
        display: inline-block;
        padding: 10px;
        background-color: #7E7E7E;
        border-radius: 4px;
        color: #fff;
        font-size: 12px;
        position: relative;
        margin-top: 16px;
        &::before {
            content: '';
            position: absolute;
            top: -16px;
            left: 0;
            right: 0;
            width: 1px;
            height: 16px;
            background-color: #7e7e7e;
            margin: 0 auto;
        }
    }
    .value {
        position: relative;
        .line {
            position: absolute;
            right: 0;
            bottom: 5px;
            width: 1px;
            height: 40px;
            background-color: #7e7e7e;
        }
    }
    .accumulateWrap {
        padding: 0 20px;
        .accumulateRail {
            position: relative;
            .accumulate {
                white-space: nowrap;
                position: absolute;
                right: 0;
                bottom: 40px;
                transform: translateX(50%);
                display: inline-block;
                padding: 10px;
                background-color: #7E7E7E;
                border-radius: 4px;
                color: #fff;
                font-size: 12px;
            }
        }
    }
}

.tabBody {
    display: none;
    padding-top: 28px;
    &.ac {
        display: block;
    }
    .flexBx {
        justify-content: space-between;
        align-items: center;
    }
    h1 {
        margin-bottom: 0;
    }
    .legend {
        font-size: 13px;
        color: #777;
    }
    .currentValue {
        font-size: 21px;
        font-weight: 700;
        color: var(--primary);
        margin-top: 4px;
        margin-bottom: 28px;
    }
    .detailView {
        margin-top: 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}