<div class="frame_kcalThumb">
    <div>
        <strong>2,400</strong>
        <em>kcal</em>
    </div>
    <ul>
        <!-- li에 .ac 넣어주면 display 됩니다. -->
        <li class="ac">
            <span class="message good">매우 좋아요!</span>
            <img src="./img/kcal_good.svg" alt="smile">
        </li>
        <li>
            <span class="message normal">적당해요!</span>
            <img src="./img/kcal_normal.svg" alt="smile">
        </li>
        <li>
            <span class="message bad">조금 낮아요</span>
            <img src="./img/kcal_bad.svg" alt="smile">
        </li>
    </ul>
</div>