<div class="frame_foodPlan">

    <div class="flex">
        <span class="time">오늘 아침</span>
        <span class="kcal">800 kcal</span>
    </div>

    <div class="todayMenu">
        현미밥, 꾸지뽕 소고기 볶음, 미강 돼지고기 볶음 , 호박 왁저지 , 들깨 시래기나물 , 샐러드
    </div>

    <div class="graph">
        <div class="item">
            <div class="text">
                <span class="type">탄수화물</span>
                <!-- 진행도 수치를 값으로 넣어주세요. 0 ~ 100% -->
                <span class="per">32%</span>
            </div>
            <div class="progress">
                <!-- 진행도 수치를 width로 설정해주세요. 0 ~ 100% -->
                <div class="value" style="width: 32%;"></div>
            </div>
        </div>
        <div class="item">
            <div class="text">
                <span class="type">단백질</span>
                <!-- 진행도 수치를 값으로 넣어주세요. 0 ~ 100% -->
                <span class="per">62%</span>
            </div>
            <div class="progress">
                <!-- 진행도 수치를 width로 설정해주세요. 0 ~ 100% -->
                <div class="value" style="width: 62%;"></div>
            </div>
        </div>

        <div class="item">
            <div class="text">
                <span class="type">지방</span>
                <!-- 진행도 수치를 값으로 넣어주세요. 0 ~ 100% -->
                <span class="per">26%</span>
            </div>
            <div class="progress">
                <!-- 진행도 수치를 width로 설정해주세요. 0 ~ 100% -->
                <div class="value" style="width: 26%;"></div>
            </div>
        </div>
    </div>

    <a href="#" class="detailView">자세히보기</a>
</div>