<div class="frame_bottomNav">
    <ul>
        <!-- 활성화된 메뉴에 .active -->
        <li class="menu active">
            <a class="btn" href="#">
                <div class="icon"></div>
                홈
            </a>
        </li>
        <li class="menu">
            <a class="btn" href="#">
                <div class="icon"></div>
                건강
            </a>
        </li>
        <li class="menu">
            <a class="btn" href="#">
                <div class="icon"></div>
                식단
            </a>
        </li>
        <li class="menu">
            <a class="btn" href="#">
                <div class="icon"></div>
                내정보
            </a>
        </li>
    </ul>
</div>